.App {
  display: flex;
  flex-direction: column;
}

.Login{
  margin-top: -2vw;
  display: flex;
  justify-items: center;
  justify-content: right;
  float: right;
  align-content: center;
}

.title{
  justify-content: center;
  display: flex;
  color: white;
  text-decoration-style: solid;
  text-transform: uppercase;
  word-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
}
.Searcher{
  justify-content: center;
  display: flex;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vw;
  margin-top: 1vw;
}

.Results{
  justify-content: center;
  display: flex;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vw;
  margin-top: 1vw;
}

.formTrip{
  justify-content: center;
  display: flex;
  margin-top: 1vw;
  font-size: 1vw;
}
.date{
  border-radius: 1vh;

}
.submit{
  border-radius: 1vh;
  color: white;
  background-color: blue;
}